@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto500;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto700;
    src: url("../fonts/Roboto-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

body {
    background: #e2d5de;
    margin: 100px 0;

    .container {
        .todo {
            background: white;
            border-radius: 24px;
            padding: 80px;

            h3 {
                color: #565656;
                margin-bottom: 20px;
            }

            .form {
                display: flex;
                gap: 12px;
                margin-bottom: 20px;

                input {
                    font-size: 16px;
                    width: 100%;
                    padding: 16px;
                    outline: none;
                    border: 1px solid #bfbfbf;
                    border-radius: 6px;
                }

                button {
                    font-family: Roboto700;
                    padding: 16px 32px;
                    color: white;
                    background: #1266f1;
                    border: none;
                    border-radius: 6px;
                    cursor: pointer;
                }
            }

            .tasks {
                .task {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #bfbfbf;
                    padding: 16px 20px;

                    span {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        input {
                            width: 24px;
                            height: 24px;
                        }

                        p {
                            font-size: 18px;
                            color: #3e3e3e;
                        }
                    }

                    article {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        p {
                            color: #3e3e3e;
                            font-size: 14px;
                        }

                        button {
                            background: none;
                            border: none;
                            cursor: pointer;
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
    }
}

.checked {
    text-decoration: line-through;
    color: #555;
}